body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Oswald', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3 {
    font-family:'Oswald','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: normal;
}
h1 {
    font-size: 3em;
}
p, li {
    font-family:'EB Garamond', 'Garamond', 'Times', 'Times New Roman', 'Serif';
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    font-family:'EB Garamond', 'Garamond', 'Times', 'Times New Roman', 'Serif';
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

table {
    font-family:'Oswald','Helvetica', 'Arial', 'Sans-Serif';
    margin: 0 auto;
}

th {
    background-color: #999
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

img {
    display: block;
    margin: auto;
    width: 60%;
}


blockquote {
    font-style: italic;
    font-size: 1.5em;
    color: #999;
}
