html{
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 60px auto;
	width: 70%;
	height: 100%;
}
#container {
	min-height: 100%;
	position: relative;
}
header {
	margin: 0 auto;
	width: 70%;
	height: 148px;
	line-height: 1em;
	font-size: 1em;
	position: fixed;
	top: 0;
	z-index: 999;
	border-bottom:solid 0.5em #f4f4f4;
	background-color: #f4f4f4;
	transition: height 0.3s, width 0.3s;
}
div #body {
	padding-top: 120px;
	padding-bottom: 60px;
}
header.smaller {
	top: -38px;
	position: fixed;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 100px;
	line-height: 1em;
	font-size: 16px;
}

header h1#logo {
	margin: 10px;
	transition: font-size 0.3s;
	line-height: 60px;
}

header.smaller h1#logo {
	font-size: 20px;
	line-height: 20px;
}
header nav {
	margin: 10px;
	font-size: 34px;
}
footer {
	margin: 0 auto;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	height: 60px;
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}

div.screen {
	height: 100vh;
}

div.screen_parallax {
	height: 100vh; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.paper {
	margin: 0 auto;
	padding: 25px;
	background-color: #ffffff;
	width: 70%;
	opacity: 0.95;
}

nav ul, footer ul {
    font-family:'Oswald', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
.invert_color{
	color:	#ffffff;
	padding: 15px;
}
a.invert_color:hover{
	color:	#ffffff;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Oswald','Helvetica', 'Arial', 'Sans-Serif';
}
h1 {
    font-size: 48px;
    color: 	#000000;
    font-weight:400;
}
h2 {
    /*
    font-size: 2.75em;
    */
    color: #000000;
    font-weight:200;
}
h3 {
    /*
    font-size: 2.5em;
    */
    font-weight:700;
    color: #808080;
}
h4 {
    /*
    font-size: 2.25em;
    */
    color: #999;
}
h5 {
    /*
    font-size: 2em;
    */
    color: #999;
}
p, ul.paragraph, ol.paragraph {
    font-family:'EB Garamond', 'Garamond', 'Times', 'Times New Roman', 'Serif';
    line-height: 1.25em;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
}
div.header_image {
	height: 20vh;
	width: 100%;
	overflow: hidden;
}

div.header_image img{
	max-height:auto; 
	width:100%;
}
ul.posts { 
    font-family:'EB Garamond', 'Garamond', 'Times', 'Times New Roman', 'Serif';
    margin: 20px auto 40px; 
}
ul.posts li {
    font-family:'EB Garamond', 'Garamond', 'Times', 'Times New Roman', 'Serif';
    list-style: none;
}
table {
    border-collapse: collapse;
}
div.post th {
    background-color: #999
}
div.post tr:nth-child(even) {
    background-color: #f2f2f2
}
div.post table {
    font-family:'Oswald','Helvetica', 'Arial', 'Sans-Serif';
    margin: 0 auto;
}
div.post img {
    display: block;
    margin: auto;
    max-width: 100%;
}
blockquote {
    font-style: italic;
    font-size: 1.4em;
    border-top: 3px solid #CCC;
    border-bottom: 3px solid #CCC;
}
blockquote p {
    font-family:'Oswald','Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
}