---
layout: default-full
title: Blog
---

<center>
	<h1>Latest Posts</h1>
</center>

<div class="flex-container">
	{% for post in site.posts %}
		{% if post.category == 'blog' %}
			{% if post.draft != true %}
				<a href="{{ post.url }}">
					<div class="square-img transition" {% if post.image %} style="background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url( {{ post.image }} );" {% endif %} >
						<div class="center-content">
							<span class="on-bg">
								<h3>{% if post.header %} {{ post.header }} {% else %} {{ post.title }} {% endif %}</h3>
							</span>
						</div>
					</div>
				</a>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>

<center>
	<h1>Post Tags</h1>
</center>


<ul class="tags">
	{% for tag in site.tags %}
		{% assign t = tag | first %}
		{% assign posts = tag | last %}
		<a href='/blog/tag/{{ t }}'><li>{{t | downcase}} ({{ posts | size }})</li></a>
	{% endfor %}
</ul>


<!--
{% assign published_posts = site.posts | reject: "draft", true %}

{% assign tag_pages = site.pages | where: "layout", "tag_index" %}

<ul class="tags">
  {% for page in tag_pages %}
    {% assign tag   = page.data.tag %}
    {% assign posts = published_posts | where_exp: "post", "post.tags contains tag" %}

    {% if posts.size > 0 %}
      <li>
        <a href="{{ page.url }}">
          {{ tag | downcase }} ({{ posts.size }})
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul> 
-->