<!doctype html>
<html>
	<head>
		{% include gtm_head.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		{% seo %}
		{% include styles.html %}
	</head>
	<body>
		{% include gtm_body.html %}
		<div class="wrapper">
			<!--
			<header>
			</header>
			-->
			{% include navigation.html %}
			<div class="hero-img" {% if page.featured-img %} style="background-image:  url( {{ page.featured-img }} );" {% endif %} >
				<div class="center-content">
					<span class="on-bg">
						<h1>{% if page.header %} {{ page.header }} {% else %} {{ page.title }} {% endif %}</h1>
						<!--
						<p>{{ page.date | date_to_string }}</p>
						-->
						<a href="#start">
							<div style="-webkit-animation-name: pulse; -webkit-animation-duration: 2s; animation-name: pulse;animation-duration: 2s; animation-direction: alternate;">
								{% octicon arrow-down width:50 height:50 fill:white aria-label:down %}
							</div>
						</a>
					</span>
				</div>
			</div>
			<div id="start"></div>
			<div class="content">
				<div class="article {% if page.dropcap %} dropcap {% endif %}">
					{{ content }}
				</div>
			</div>
			<footer>
				<hr>
				© 2019 Victor Blancada. All Rights Reserved.
			</footer>
			<div class="spacer">
			</div>
		</div>
		<!--
		<footer>
			Copyright © 2019 Victor Blancada. All Rights Reserved.
		</footer>
		-->
	</body>
</html>

