---
layout: default
---

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>
{% if page.featured-img %}
<style>
	.parallax {
		/* The image used */
		background-image: url("{{page.featured-img}}");
		/* Set a specific height */
		height: 65vh; 
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
</style>
<div class="parallax"></div>
{% endif %}
<div class="post">
  {{ content }}
</div>
