<!doctype html>
<html>
	<head>
		{% include gtm_head.html %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		{% seo %}
		{% include styles.html %}
	</head>
	<body>
		{% include gtm_body.html %}
		<div class="wrapper">
			{% include navigation.html %}
			<div class="hero-img" {% if page.image %} style="background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url( {{ page.image }} );" {% endif %} >
				<div class="center-content">
					<span class="on-bg">
						<h1>{% if page.header %} {{ page.header }} {% else %} {{ page.title }} {% endif %}</h1>
						<!--
						<p>{{ page.date | date_to_string }}</p>
						-->
						<a href="#start">
							<div style="-webkit-animation-name: pulse; -webkit-animation-duration: 2s; animation-name: pulse;animation-duration: 2s; animation-direction: alternate;">
								{% unless page.nodate %}
								<p>{{ page.date | date: '%B %d, %Y' }}</p>
								{% endunless %}
								<p>scroll for more</p>
								{% octicon arrow-down width:50 height:50 fill:white aria-label:down %}
							</div>
						</a>
						{% unless page.notshareable %}
						<div>
							{% include share-buttons.html %}
						</div>
						{% endunless %}
					</span>
				</div>
			</div>
			<div id="hero-img-spacer" style="height: 100vh;">
			</div>
			<div id="start">
			</div>
			<div class="content">
				{% unless page.notshareable %}
				<h1>{{ page.title }}</h1>
				{% endunless %}
				<!--
				<h1>{% if page.header %} {{ page.header }} {% else %} {{ page.title }} {% endif %}</h1>
				{% unless page.nodate %}
				<p style="font-style:italic">{{ page.date | date: '%B %d, %Y' }}</p>
				{% endunless %}
				-->
				<div class="article {% if page.dropcap %} dropcap {% endif %}">
					{{ content }}
				</div>
				{% unless page.notshareable %}
				<div class="cta-box">
					{% include share-buttons.html %}
				</div>
				{% endunless %}
			</div>
			{% if page.tags %}
			<center>
				<h2>Read more posts about...</h2>
				<ul class="tags">
					{% for tag in page.tags %}
						<a href='/blog/tag/{{ tag }}'><li> {{tag | downcase}} </li></a>
					{% endfor %}
				</ul>
				<a href='/blog.html'><p>See all posts</p></a>
			</center>
			{% endif %}
			<footer>
				<hr>
				© 2019 Victor Blancada. All Rights Reserved.
			</footer>
			<div class="spacer">
			</div>
		</div>
	</body>
</html>

