---
layout: default-full
---

<center>
	<h1>{{page.title}}</h1>
	<a href='/blog.html'><p>See all posts</p></a>
</center>
<div class="flex-container">
	{% for post in site.posts %}
		{% unless post.draft %}
			{% for tag in post.tags %}
				{% if tag == page.tag %}
					<a href="{{ post.url }}">
						<div class="square-img transition" {% if post.image %} style="background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url( {{ post.image }} );" {% endif %} >
							<div class="center-content">
								<span class="on-bg">
									<h3>{% if post.header %} {{ post.header }} {% else %} {{ post.title }} {% endif %}</h3>
								</span>
							</div>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		{% endunless %}
	{% endfor %}
</div>